h6 {
    margin-bottom: 0;
    color: black;
}

i {
    font-size: 24px;
}

.top-bar i, .input-section i {
    cursor: pointer;
}

.top-bar {
    height: 70px;
    background-color: #eaeaea;
}

.avatar {
    border-radius: 50%;
}

.mine {
    background-color: #dcf8c0;
    justify-content: flex-end;
}

.yours {
    background-color: white;
    justify-content: flex-start;
}

#app {
    height: 100vh;
    background: linear-gradient(0deg, #dadbd5 0 85%, #429488 85% 100%);
}

.chat-container {
    height: 95%;
}

.chat-container .row, .sidebar, .chat-section {
    height: 100%;
}

.sidebar .top-bar {
    border-right: 1px solid lightgrey;
}

.top-bar .avatar, .notifications-bar i {
    margin-right: 12px;
}

.top-bar .avatar {
    width: 55px;
}

.top-bar i {
    color: #b1b1b1;
    margin-right: 12px;
}

.notifications-bar {
    height: 90px;
    background-color: #9fd8f8;
}

.notifications-bar i {
    color: #9fd8f8;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.notifications-info a, .contact-info div {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.search-area {
    height: 30px;
    background-color: #fafafa;
}

.chat-list {
    height: calc(100% - 190px);
    background-color: white;
    overflow-y: scroll;
}

.chat-list ul {
    list-style: none;
    padding-left: 0;
}

.chat-list .avatar {
    width: 70px;
}

.message-area {
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
    background-repeat: repeat;
    overflow-y: scroll;
}

.input-section {
    height: 70px;
    background-color: #f2eeea;
}