::-webkit-scrollbar {
    width: 16px;
}

.chat-list::-webkit-scrollbar-thumb, .message-area::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgb(196, 196, 196);
    visibility: hidden;
}

.chat-list:hover::-webkit-scrollbar-thumb, .message-area:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

h6 {
    font-size: 17px;
    color: black;
    margin-bottom: 0;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
}

i:not(.search-area i, .boolzapp-container i, .alert-container i, .text-box i) {
    font-size: 24px;
}

.chat-list li, .top-bar i:not(.boolzapp-container i), .text-message i:hover, .input-section i {
    cursor: pointer;
}

.top-bar {
    height: 70px;
    background-color: #eaeaea;
}

.avatar {
    border-radius: 50%;
}

input {
    border: none;
    width: 100%;
    font-weight: 500;
}

input:focus {
    outline: none;
}

.sent {
    display: flex;
    justify-content: flex-end;
}

.received {
    display: flex;
    justify-content: flex-start;
}

.bigger-spacing {
    margin-top: 12px;
}

.smaller-spacing {
    margin-top: 4px;
}

.triangle-up-right {
    width: 0;
    height: 0;
    border-top: 12px solid #dcf8c0;
    border-right: 12px solid transparent;
}

.triangle-up-right:first-child {
    display: none;
}

.triangle-up-left {
    width: 0;
    height: 0;
    border-top: 12px solid white;
    border-left: 12px solid transparent;
}

.triangle-up-left:last-child {
    display: none;
}

.text-message.modified-border-radius-sent {
    border-top-right-radius: 0;
}

.text-message.modified-border-radius-received {
    border-top-left-radius: 0;
}

.sent-margin {
    margin-right: 12px;
}

.received-margin {
    margin-left: 12px;
}

.sent-color {
    background-color: #dcf8c0;
}

.received-color {
    background-color: white;
}

#app {
    height: 100vh;
    background: linear-gradient(0deg, #dadbd5 0 85%, #429488 85% 100%);
}

.chat-container {
    height: 95%;
}

.chat-container .row, .sidebar, .chat-section {
    height: 100%;
}

.sidebar .top-bar {
    border-right: 1px solid lightgrey;
}

.top-bar .avatar, .notifications-bar i {
    margin-right: 12px;
}

.top-bar .avatar {
    width: 55px;
}

.top-bar i, .search-area i, .text-container i {
    color: #b1b1b1;
}

.top-bar i {
    margin-right: 16px;
    transition: color .2s;
}

.top-bar i:not(.boolzapp-container i):hover, .text-message i:hover {
    color: #999999;
}

.notifications-bar {
    height: 90px;
    background-color: #9fd8f8;
}

.notifications-bar i {
    color: #9fd8f8;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.notifications-info a, .contact-info div {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.search-area {
    height: 50px;
    background-color: #fafafa;
    padding-right: 16px;
}

.search-bar {
    background-color: white;
    border: 1px solid #f5f5f5;
    height: 34px;
    width: 100%;
}

.search-bar i, .chat-list .avatar {
    margin-left: 24px;
}

.search-bar input {
    height: 32px;
    margin: 0 12px 0 36px;
    font-size: 13px;
}

.chat-list {
    height: calc(100% - 210px);
    background-color: #fafafa;
    padding: 0;
    overflow-y: auto;
}

.chat-list ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.chat-list li {
    width: 100%;
    height: 95px;
    background-color: white;
    padding: 12px 0;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    transition: background-color .2s;
}

.chat-list li:last-child {
    border-bottom: 0;
}

.chat-list li:hover {
    background-color: #eaeaea;
}

.chat-list .avatar {
    width: 70px;
    margin-right: 24px;
}

.chat-info {
    width: calc(100% - 118px);
    height: 100%;
    position: relative;
}

.last-message-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-right: 5px;
}

.last-message {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 3px;
}

.last-message-date {
    font-size: 12px;
    color: #b1b1b1;
}

.alert-container {
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-weight: 700;
    color: #429488;
    text-align: center;
}

.boolzapp-container {
    width: 100%;
}

.boolzapp-container i, .boolzapp-text {
    font-size: 32px;
    color: #429488;
}

.boolzapp-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-right: 12px;
}

.message-area {
    background-image: url('../img/mine.jpg');
    background-repeat: repeat;
    overflow-y: auto;
    padding: 0 36px;
}

.text-box:last-child {
    margin-bottom: 12px;
}

.without-text {
    height: calc(100% - 70px);
}

.with-text {
    height: calc(100% - 140px);
}

.text-message {
    min-width: 40%;
    max-width: 60%;
    border-radius: 12px;
    padding: 10px;
}

.text {
    width: 100%;
    overflow-wrap: break-word;
}

.text-message i {
    font-size: 18px;
    visibility: hidden;
}

.text-message:hover i {
    visibility: visible;
}

.date {
    color: #b1b1b1;
    font-size: 12px;
}

.input-section {
    height: 70px;
    background-color: #f2eeea;
    padding: 0;
}

.input-section .icon-container {
    min-width: 72px;
}

.input-section i {
    color: #6c7376;
    padding: 0 24px;
}

.input-section input {
    height: 46px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 12px;
}