<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" id="app">
        <div class="container chat-container">
            <div class="row">
                <div class="col-4 sidebar">
                    <div class="row">
                        <div class="top-bar d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img class="avatar" src="./img/avatar_io.jpg" alt="my avatar">
                                
                                <h6>Mattia Ferrari</h6>
                            </div>

                            <div>
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <div class="notifications-bar d-flex align-items-center">
                            <div>
                                <i class="fas fa-bell-slash"></i>
                            </div>

                            <div class="notifications-info">
                                <h6>Ricevi notifiche di nuovi messaggi</h6>

                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        
                        <div class="search-area d-flex align-items-center">
                            <div class="search-bar d-flex align-items-center">
                                <i class="fas fa-search"></i>

                                <input v-model="searchUser" type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>

                        </div>
                        
                        <div class="chat-list">
                            <ul>
                                <li v-for="(img, index) in searchFilter()" class="d-flex" @click="contactSelection(index)">
                                    <img class="avatar" :src="selectAvatar(index)" :alt="selectAlt(index)">
                                    
                                    
                                    <div class="chat-info">
                                        <h5>{{img.name}}</h5>

                                        <div class="last-message-container">
                                            <div class="last-message">{{img.messages[(img.messages.length - 1)].text}}</div>
                                            
                                            <div class="last-message-date">{{lastMessageDateTime(img.messages[(img.messages.length - 1)])}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="alert-container d-flex justify-content-center align-items-center" :class="alert">
                                <div class="alert-message">
                                    <i class="fas fa-comment-slash"></i>

                                    <div>Nessun contatto trovato</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-8 chat-section">
                    <div class="row">
                        <div class="top-bar d-flex justify-content-between align-items-center">   
                            <div class="d-flex align-items-center" :class="displayContent">
                                <img class="avatar" :src="selectAvatar(selectedContactIndex)" :alt="selectAlt(selectedContactIndex)">
                                
                                <div class="contact-info">
                                    <h6>{{contacts[selectedContactIndex].name}}</h6>
                                    
                                    <div>Ultimo accesso il {{contacts[selectedContactIndex].messages[lastReceivedMessageIndex()].date}}</div>
                                </div>
                            </div>
                            
                            <div :class="displayContent">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                            <div class="boolzapp-container d-flex justify-content-end align-items-center" :class="hideContent">
                                <i class="far fa-comment-dots"></i>

                                <div class="boolzapp-text">BOOLZAPP</div>
                            </div>
                        </div>
                        
                        <div class="message-area" :class="heightClass" ref="container">
                            <div :class="displayContent">
                                <div v-for="(message, index) in messageFilter()" class="text-box" :class="messagePosition(message, index)">
                                    <div :class="messageCorner(message, index)"></div>

                                    <div class="text-message" :class="messageStyle(message, index)">
                                        <div class="text-container d-flex justify-content-between">
                                            <div class="text">{{message.text}}</div>

                                            <div class="dropend">
                                                <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                
                                                <ul class="dropdown-menu">
                                                    <li><button class="dropdown-item" type="button">Copia</button></li>
                                                    <li><button class="dropdown-item" type="button" @click="deleteMessage(index)">Elimina</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="date-container d-flex justify-content-end">
                                            <div class="date">{{message.date}}</div>
                                        </div>
                                    </div>

                                    <div :class="messageCorner(message, index)"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-section d-flex justify-content-between align-items-center" :class="displayContent">
                            <div class="icon-container">
                                <i class="far fa-smile"></i>
                            </div>

                            <input id="text-input" v-model="newText" type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage()">
                            
                            <div class="icon-container d-flex justify-content-center">
                                <i v-if="newText === ''" class="fas fa-microphone"></i>
                                <i v-else="newText !== ''" class="fas fa-chevron-circle-right" @click="sendMessage()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
</body>
</html>